<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="telemarketing.repository.Pt_roleMapper" >
  <resultMap id="BaseResultMap" type="telemarketing.model.Pt_role" >
    <id column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    role_code, role_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pt_role
    where role_code = #{roleCode,jdbcType=VARCHAR}
  </select>
  
   <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pt_role
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pt_role
    where role_code = #{roleCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="telemarketing.model.Pt_role" >
    insert into pt_role (role_code, role_name)
    values (#{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="telemarketing.model.Pt_role" >
    insert into pt_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleCode != null" >
        role_code,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="telemarketing.model.Pt_role" >
    update pt_role
    <set >
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
    </set>
    where role_code = #{roleCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="telemarketing.model.Pt_role" >
    update pt_role
    set role_name = #{roleName,jdbcType=VARCHAR}
    where role_code = #{roleCode,jdbcType=VARCHAR}
  </update>
</mapper>